# Rider-specific files/folders
.idea/
.idea.Cap7/
.idea/.idea.Cap7/.idea
*.sln.iml

# Compiled output
/bin/
/obj/

# User-specific files
*.userprefs
*.suo
*.sln.DotSettings.user

# NuGet packages
packages/

# Visual Studio Code directory
.vscode/

# User-specific files
*.user

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

